*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content max-content;
    grid-template-areas: 
    "navbar"
    "main"
    ;


}
@import "./componentes/navbar";
@import "./componentes/main";
@import "./componentes/cores";
@import "./componentes/img.scss";
@import "./componentes/grid";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
//font-family: 'Josefin Sans', sans-serif;

