.container{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    &__img{
        width: 100%;
        height: 11.875rem;
        object-fit: cover;
        object-position: center top;
    }
    &__conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__titulo{
        width: 100%;
        padding: 2.8125rem 0rem 0.9375rem 0rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 2.1875rem;
        line-height: 1;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        text-align: center;
        &--sub{
            font-weight: 300;
            color: var(--desaturated-red);
        }

    }
    &__informacao{
        color: var(--desaturated-red);
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.5;
        text-align: center;
        padding: 0rem 0.9375rem 1.25rem 0.9375rem;
        max-width: 25rem;

    }
    &__form{
        position: relative;
    }
    &__email{
        border-radius: 1.5625rem;
        border: 0.0625rem solid var(--desaturated-red-plc);
        padding: 0.9375rem;
        &:focus{
            outline: none;
        }
        &--error{
            border: 0.0625rem solid var(--soft-red);
            display: inline-block;
        }
        &::placeholder{
            color: var(--desaturated-red-plc);
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
            font-size: 0.8125rem;
        }
    }
    &__email__img{
        display: none;
        position: absolute;
        object-fit: scale-down; 
        transform: translateY(50%);
        right: 35%;
        &--active{
            display: inline-block;
        }
    }
    &__enviar{
        position: absolute;
        width: 4.375rem;
        height: 100%;
        transform: translateX(-4.375rem);
        border-radius: 1.5625rem;
        border: none;
        background-image: var(--gradiente-dois);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        box-shadow: 0.375rem 0.5625rem 0.9375rem var(--desaturated-red);
        &:hover{
            transform: translateX(-3.75rem);
            transition: all 0.2s ease-in-out;
        }
        
    }
    &__enviar__img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    .container__warnin{
        display: none;
        color: var(--desaturated-red);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 0.8125rem;
        padding: 0.9375rem;
        max-width: 25rem;
        width: 7    0%;
        &--active{
            display: inline-block;
        }
    }
}